<div class="row">
  <div class="col-md-12">
    <div *ngFor="let process of processes | async">
      <a href="#" routerLink="/detail/{{ process.slug }}">{{ process.source }} - {{ process.process.sv.name}}</a>
    </div>
  </div>
</div>
