<div class="container" style="height: 100vh; background-color: white; box-shadow: 3px 3px 5px darkgrey; padding-left: 30px; padding-right: 30px;">
  <h1>Nationella Riktlinjer BIM</h1>
  <h2>Processer</h2>
  <hr>
  <router-outlet></router-outlet>
</div>

