<div class="row">
  <div class="col-md-12">
    <h3>{{ process?.process.sv.name }}<a class="btn btn-default float-right" style="float:right;" href="#" routerLink="/overview">Tillbaka</a></h3>
    <h4>{{ process?.source }}</h4>

    
    
    <div>
      <div class="process" *ngFor="let process of process?.children" (click)="goToProcess(process.slug)">
        {{ process.process.sv.name }}
      </div>
    </div>
  </div>
</div>
