.process {
    display: inline-block;
    width: 300px;
    height: 120px;
    background-color: lightgray;
    border: 1px solid black;
    margin: 12px;
    padding: 30px;
}

.card-margin {
    margin: 5px;
}